<div class="absolute" style="left: {{ location.coordinates.x }}%; top: {{ location.coordinates.y }}%">
    <!-- Pulse Animation -->
    <template x-if="$store.locations.shouldPulse('{{ location.id }}')">
        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 pointer-events-none">
            <template x-if="$store.locations.selectedLocation?.id === '{{ location.id }}'">
                <!-- Image pulse for selected state -->
                <div class="transform -translate-x-1/2 -translate-y-1/2">
                    <div class="absolute w-4 h-4 opacity-75 -mt-2 -ml-2 filter drop-shadow-[0_2px_4px_rgba(0,0,0,0.4)]">
                        <img src="/images/marker.png" alt="Selected location marker" class="w-full h-full">
                    </div>
                    <div class="absolute w-4 h-4 animate-ping-large -mt-2 -ml-2">
                        <img src="/images/marker.png" alt="Pulsing location marker" class="w-full h-full opacity-75">
                    </div>
                </div>
            </template>
        </div>
    </template>
    <!-- Static Marker -->
    <button
        class="absolute top-0 left-0 transform -translate-x-1/2 -translate-y-1/2 cursor-pointer z-20 p-2"
        @mouseover="$store.locations.setHoveredLocation('{{ location.id }}')"
        @mouseleave="$store.locations.setHoveredLocation(null)"
        @click.stop="$store.locations.selectLocation('{{ location.id }}'); $store.locations.showDialog = true"
        aria-label="View {{ location.name }}"
        aria-expanded="false"
        :aria-expanded="$store.locations.selectedLocation?.id === '{{ location.id }}' ? 'true' : 'false'"
        aria-controls="location-info-{{ location.id }}"
        role="button">
        <!-- Show red dot for default state -->
        <template x-if="$store.locations.selectedLocation?.id !== '{{ location.id }}'">
            <div class="{{ location.markerClass }}">
            </div>
        </template>
        <span class="sr-only">Location: {{ location.name }}</span>
    </button>
</div> 