<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
        <link rel="stylesheet" href="{{ '/css/tailwind.css' | url }}">
    </head>
    <body>
        <header class="bg-black text-gray-50 py-4">
            <h1 class="ml-5">{{ title }}</h1>
        </header>
        <main class="max-w-3xl mx-auto py-12 min-h-screen">
            {{ content | safe }} <img src="/images/turtle-island.png" alt="Turtle Island" class="map">
            <div class="pointers">
                {% for location in locations %}
                    <div class="pointer" style="top: {{ location.y }}%; left: {{ location.x }}%;" data-location="{{ location.id }}" data-title="{{ location.name }}" data-description="{{ location.description }}">
                        this is a thing!!
                    </div>
                {% endfor %}
            </div>
        </main>
        <div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
            <div tabindex="-1" class="modal__overlay" data-micromodal-close>
                <div role="dialog" class="modal__container">
                    <header class="modal__header">
                        <h2 class="modal__title">Modal Title</h2>
                        <button class="modal__close" data-micromodal-close aria-label="Close modal"></button>
                    </header>
                    <main class="modal__content" id="modal-1-content">Modal content here</main>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/micromodal@0.4.10/dist/micromodal.min.js"></script>
        <script src="/js/scripts.js"></script>
    </body>
</html>