<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sacred Tobacco Map</title>
        <link rel="stylesheet" href="{{ '/css/tailwind.css' | url }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap" rel="stylesheet">
        <meta name="description" content="Learn about Ojibwe Asemaa and its historical trading routes across Turtle Island">
        <meta property="og:title" content="Asemaa Map">
        <meta
            property="og:description"
            content="Learn about Ojibwe Asemaa and its historical trading routes across Turtle Island">
        <meta
        property="og:type" content="website"> <!-- Add your site URL here -->
        <meta
        property="og:url" content=""> <!-- Add your site image here -->
        <meta property="og:image" content="">
    </head>
    <body>
        <script>
            const locationData = {{ locations | dump | safe }};
        </script>
        <div class="h-full">
            <div x-data="{ locations: locationData }" x-init="$store.locations.init(locations)" class="h-full">
                <main class="content font-body container mx-auto px-8 max-w-4xl py-8">
                    <div
                        class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-6 py-4 justify-center">
                        <!-- Map Column -->
                        <div
                            class="flex flex-col space-y-2">
                            <!-- Map Area -->
                            {% include "partials/map-area.njk" %}
                        </div>
                        <!-- Sidebar -->
                        {% include "partials/location-sidebar.njk" %}
                    </div>
                    <!-- Location Dialog -->
                    {% include "components/location-dialog.njk" %}
                </main>
            </div>
        </div>
        <script defer src="{{ '/js/iframe-resize.js' | url }}"></script>
        <script defer src="{{ '/js/stores.js' | url }}"></script>
        <script defer src="https://unpkg.com/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    </body>
</html>