<aside class="hidden md:block w-2/5 bg-white border border-gray-300 rounded-lg p-4">
    <h2 class="text-xl font-semibold mb-4">The Journey</h2>
    <div class="overflow-y-auto max-h-[525px] space-y-2 pr-2">
        {% for location in locations %}
            <div
                id="location-{{ location.id }}"
                class="rounded-lg p-4 border border-gray-200 hover:border-gray-500 transition-all duration-300 cursor-pointer"
                :class="{ 'bg-red-50': $store.locations.hoveredLocationId === '{{ location.id }}' ||
                    $store.locations.selectedLocation?.id === '{{ location.id }}', 'bg-gray-50': !($store.locations.hoveredLocationId === '{{
                    location.id }}' || $store.locations.selectedLocation?.id === '{{ location.id }}') }"
                @mouseenter="$store.locations.setHoveredLocation('{{ location.id }}')"
                @mouseleave="$store.locations.setHoveredLocation(null)"
                @click="$store.locations.selectLocation('{{ location.id }}')">
                <!-- Title and Magnifying Glass -->
                <div class="flex justify-between items-center mb-3">
                    <h3 class="font-heading text-base">{{ location.name }}</h3>
                    <button
                        @click.stop="$store.locations.showLocationInfo('{{ location.id }}')"
                        class="text-gray-500 hover:text-forest hover:scale-110 active:scale-95 transition-all duration-150 ease-in-out p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4 8V4m0 0h4M4 4l5 5m11-1V4m0 0h-4m4 0l-5 5M4 16v4m0 0h4m-4 0l5-5m11 5l-5-5m5 5v-4m0 4h-4"/>
                        </svg>
                    </button>
                </div>
                <!-- Image -->
                <div class="w-full h-32 mt-3">
                    <img src="{{ location.imageUrl }}" alt="{{ location.name }}" class="w-full h-full object-cover rounded-lg border border-gray-200"></div>
                </div>
            {% endfor %}
        </div>
    </aside>