<div class="relative map-wrapper">
    <!-- Fixed size container for consistent marker positioning -->
    <div id="mapContainer" class="relative w-full z-10">
        <!-- Background Image -->
        <img
            src="/images/turtle-island.png" 
            alt="Turtle Island Map" 
            class="w-full h-auto object-contain relative z-10" 
            @click.stop="$store.locations.clearSelection()">
            
        <!-- Location Markers - Will be positioned by percentage relative to image -->
        {% for location in locationsArray %}
            {% include "components/map-marker.njk" %}
        {% endfor %}
    </div>
</div>